/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.main_container {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem 0;
  text-align: center;
}
.main_container header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main_container header .logo {
  width: max-content;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main_container header .logo img {
  display: none;
}
.main_container header .logo .logo-title {
  font-size: 3rem;
}
@media screen and (min-width: 576px) {
  .main_container header .logo {
    margin-left: 1rem;
  }
  .main_container header .logo .logo-title {
    font-size: 2.5rem;
    margin-left: 1rem;
  }
  .main_container header .logo img {
    display: inline-block;
    width: auto;
    height: 60px;
  }
}
.main_container header .library_log {
  border: solid 1px rgba(24, 77, 104, 0.8);
  width: max-content;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  text-align: end;
  color: rgba(24, 77, 104, 0.8);
  position: relative;
}
.main_container header .library_log > h2 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.8rem;
}
.main_container header .library_log > div {
  padding-bottom: 0.3rem;
  clear: both;
}
.main_container header .library_log > div h3 {
  float: left;
  margin-right: 30px;
  font-size: 1.1rem;
}
@media screen and (min-width: 576px) {
  .main_container header .library_log {
    margin-right: 1rem;
    margin-top: 0rem;
  }
}
.main_container header .library_log .dark-mode {
  position: absolute;
  right: 0;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.main_container header .library_log .dark-mode span:first-child {
  display: none;
}
.main_container header .library_log .dark-mode #dark-mode-toggle {
  color: #1a1a1a;
  font-size: 40px;
}
.main_container header .library_log .dark-mode #dark-mode-toggle:hover {
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .main_container header .library_log .dark-mode {
    top: auto;
    bottom: -40px;
  }
  .main_container header .library_log .dark-mode span:first-child {
    display: inline-block;
    margin-right: 10px;
  }
  .main_container header .library_log .dark-mode #dark-mode-toggle {
    font-size: 30px;
  }
}
@media screen and (min-width: 576px) {
  .main_container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.main_container .new-book {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  outline: transparent;
  background: linear-gradient(135deg, #2196f3 0%, #1565c0 100%);
  color: #fff;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.main_container .new-book span {
  font-size: 2rem;
  line-height: 1.2;
  border-radius: 50%;
}
.main_container .new-book:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .main_container .new-book {
    transition: transform 0.25s, opacity 0.25s;
  }
  .main_container .new-book:hover {
    transform: rotate(90deg) scale(1.2);
  }
}
.main_container .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin: 2rem 0.2rem;
  position: relative;
}
.main_container .row .status_bar {
  grid-column: 1/-1;
  height: 90px;
  background: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 576px) {
  .main_container .row .status_bar {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .main_container .row .status_bar {
    height: 45px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.main_container .row .status_bar .order {
  text-transform: capitalize;
}
.main_container .row .status_bar .order select {
  border: solid rgba(93, 104, 116, 0.5) 1px;
  background-color: transparent;
  border-radius: 3px;
  height: 1.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-left: 0.3rem;
}
.main_container .row .status_bar .order select:hover {
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .main_container .row .status_bar .order {
    margin-left: 0.5rem;
  }
}
.main_container .row .status_bar .map {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.main_container .row .status_bar .map .read_color, .main_container .row .status_bar .map .Not_read_color {
  background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
  height: 30px;
  width: 50px;
  border-radius: 3px;
  margin: 0.2rem;
}
.main_container .row .status_bar .map .Not_read_color {
  background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
  margin-left: 1.5rem;
}
.main_container .row .single_book {
  grid-column: span 12;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  line-height: 1.2;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  position: relative;
  background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
}
.main_container .row .single_book > * {
  padding: 5px 0;
}
.main_container .row .single_book .remove-book {
  position: absolute;
  top: 5px;
  right: 10px;
}
.main_container .row .single_book .remove-book:hover {
  cursor: pointer;
}
.main_container .row .single_book .book-title {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.main_container .row .single_book .book-published {
  margin-bottom: 25px;
}
@media screen and (min-width: 576px) {
  .main_container .row .single_book {
    grid-column: 2/span 10;
    padding: 2rem;
  }
  .main_container .row .single_book .book-published {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .main_container .row .single_book {
    grid-column: span 6;
  }
  .main_container .row .single_book .remove-book {
    transform: scale(0.8);
    transition: transform 0.25s, opacity 0.25s;
    opacity: 0.7;
  }
  .main_container .row .single_book .remove-book:hover {
    transform: rotate(90deg) scale(1.2);
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  .main_container .row .single_book {
    grid-column: span 4;
  }
}
.main_container .row .read {
  background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
  color: white;
}
@media screen and (min-width: 576px) {
  .main_container .row {
    margin: 3rem 1rem;
  }
}
.main_container .empty_library_section {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  grid-column: 2/span 10;
}
.main_container .empty_library_section .empty_library_img {
  width: 100%;
  opacity: 10%;
}
.main_container .empty_library_section .empty_library_text {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.5;
  position: absolute;
  opacity: 80%;
}
@media screen and (min-width: 576px) {
  .main_container .empty_library_section {
    grid-column: 3/span 8;
  }
  .main_container .empty_library_section .empty_library_text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .main_container .empty_library_section .empty_library_text {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .main_container .empty_library_section {
    grid-column: 4/span 6;
  }
}

.add_book_section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: none;
  align-items: center;
}
.add_book_section .new-book-form {
  margin-right: auto;
  margin-left: auto;
  width: max-content;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: start;
  padding: 1rem 1rem;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  overflow-y: scroll;
}
.add_book_section .new-book-form::-webkit-scrollbar {
  display: none;
}
.add_book_section .new-book-form .form_title {
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  text-align: center;
  padding-top: 0;
  text-transform: capitalize;
  color: #666666;
  font-weight: 500;
}
.add_book_section .new-book-form .close-form {
  position: absolute;
  top: -5px;
  right: 5px;
}
.add_book_section .new-book-form .close-form:hover {
  cursor: pointer;
}
.add_book_section .new-book-form > * {
  padding: 10px 0;
}
.add_book_section .new-book-form .form-control {
  border: solid 1px lightgray;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin-top: 0.3rem;
}
.add_book_section .new-book-form .form-control:focus {
  outline: lightgray;
}
.add_book_section .new-book-form .err-msg {
  display: none;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: red;
}
.add_book_section .new-book-form .err-msg-display {
  display: block;
}
.add_book_section .new-book-form .new-book-buttons {
  display: flex;
  flex-direction: column;
}
.add_book_section .new-book-form .new-book-buttons .btn {
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #5d6874;
  padding: 0.375rem 0.75rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.add_book_section .new-book-form .new-book-buttons .btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}
.add_book_section .new-book-form .new-book-buttons .btn:focus {
  outline: rgba(93, 104, 116, 0.7);
}
@media screen and (min-width: 576px) {
  .add_book_section .new-book-form .new-book-buttons {
    flex-direction: row;
    justify-content: space-between;
  }
  .add_book_section .new-book-form .new-book-buttons .btn:first-child {
    width: 60%;
  }
}
@media screen and (min-width: 576px) {
  .add_book_section .new-book-form {
    padding: 1rem 3rem;
  }
}

.read_toggle_label {
  font-size: 12px;
  position: absolute;
  right: 65px;
  bottom: 7.5px;
}

.toggle-control {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 60px;
  padding-left: 40px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: #47a086;
}
.toggle-control input:checked ~ .control:after {
  left: 21px;
}
.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: grey;
  transition: background-color 0.15s ease-in;
  border: solid 1px #fff;
}
.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: white;
  transition: left 0.15s ease-in;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.scale-out-center {
  -webkit-animation: scale-out-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
